[submodule "browser-extension"]
	path = browser-extension
	url = git@github.com:Mintplex-Labs/HiveLink-extension.git
[submodule "embed"]
	path = embed
	url = git@github.com:Mintplex-Labs/HiveLink-embed.git
	branch = main
